.login-bg {
  min-height: 100vh;
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.triangle-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;
  height: 700px;
  background: #3eb655;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.triangle-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 700px;
  height: 700px;
  background: #3eb655;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 12px;
  padding: 38px 30px 30px 30px;
  box-shadow: 0 2px 12px rgba(62, 182, 85, 0.11);
  min-width: 320px;
  z-index: 1; 
}

.login-logo {
  width: 400px;
  height: auto;
  margin-bottom: 1.5rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form h2 {
  color: #3eb655;
  margin-bottom: 22px;
  text-align: center;
  font-size: 2.8rem;
}

.password-container {
  position: relative;
  margin-bottom: 18px;
}

.login-form input {
  margin-bottom: 18px;
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  font-size: 1rem;
  transition: border-color 0.2s;
  width: 100%;
  box-sizing: border-box;
}

.login-form input:focus {
  outline: none;
  border-color: #3eb655;
}

.login-form input::placeholder {
  color: #999;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  top: 37%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color: #1c1f1d; 
}

.password-toggle-icon.open {
  opacity: 1;
}

.password-toggle-icon.closed {
  opacity: 0.5; 
  text-decoration: line-through; 
}

.login-form button {
  background: #3eb655;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 18px 0;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s;
}

.login-form button:hover {
  background: #128a26;
}
.forgot-password{
  padding-left: 50%;
  color:rgb(10, 80, 10);
  cursor: pointer;
}

@media only screen and (width: 1024px) {
  .login-form-wrapper {
    min-width: 200px;
    padding: 0%;
    h2{
      font-size:1.4rem ;
    }
  }
  .login-form{
    width: 320px;
    
  }

  .login-logo {
    width: 100px;
  }
.login-form-wrapper img{
  width: 250px;
}
  .triangle-left,
  .triangle-right {
    width: 170px;
    height: 200px;
  }

  .password-toggle-icon {
    font-size: 1rem;
  }
  .login-form button {
  padding: 10px 0;
  font-size: 1.2rem;
}
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .login-form-wrapper {
    min-width: 450px;
    margin-top: 5%;
    h2{
      font-size:3.5rem ;
    }
  }
  .login-logo {
    width: 350px;
  }
  .triangle-left,
  .triangle-right {
    width: 350px;
    height: 450px;
  }

  .password-toggle-icon {
    font-size: 1.5rem;
  
  }
  .login-form button {
  padding: 14px 10;
  font-size: 1.8rem;
}

.login-form input {
  padding: 10px 18px;
  font-size: 1.5rem;

}
.forgot-password{
  padding-left: 50%;
  color:rgb(10, 80, 10);
  cursor: pointer;
  font-size: 1.8rem;
}
}
@media screen and (min-width: 1281px) and (max-width: 1700px) {
  .login-form-wrapper {
    min-width: 450px;
    margin-top: 5%;
    h2{
      font-size:3rem ;
    }
  }
  .login-logo {
    width: 300px;
  }
  .triangle-left,
  .triangle-right {
    width: 500px;
    height: 600px;
  }

  .password-toggle-icon {
    font-size: 1.1rem;
  }
  .login-form button {
  padding: 14px 10px;
  font-size: 1.6rem;
}

.login-form input {
  padding: 10px 18px;
  font-size: 1.2rem;

}
.forgot-password{
  padding-left: 50%;
  color:rgb(10, 80, 10);
  cursor: pointer;
  font-size: 1.8rem;
}
}




