.admin-dashboard-app {
  display: flex;
  flex-direction: column;
  background: #f4f4f6;
  height: 100vh;
  overflow: hidden;
}

.main-area {
  display: flex;
  flex: 1;
  height: calc(100vh - 120px);
}

@media (max-width: 900px) {
  .main-area {
    flex-direction: column;
    height: calc(100vh - 120px);
  }
}