.admin-header {
  background: rgba(101, 143, 61, 1);
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;
  height: 56px;
  z-index: 20;
  position: relative;
}

.header-hamburger {
  background: none;
  border: none;
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  line-height: 1;
  position: absolute; 
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;
}

.header-content.shifted {
  margin-left: 250px;
}

.header-title {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 2%;
}

.header-user {
  width: 100px;
  height: 50px;
  background-color: white;
}