.admin-footer {
  background: rgba(101, 143, 61, 1);
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.95rem;
  margin-top: auto;
  position: relative;
}

.footer-content {
  transition: margin-left 0.3s ease-in-out;
}

.footer-content.shifted {
  margin-left: 250px;
}